/* dm-serif-display-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/dm-serif-display-v12-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* public-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/public-sans-v14-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* public-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/public-sans-v14-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  font-family: "Public Sans";
  margin-top: 19px;
  margin: 0;
  padding: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #EDF3F8;
}

.container {
  max-width: 1150px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.bg_block {
  background-image: url(../img/header__bg.png);
  background-position: right top;
  background-repeat: no-repeat;
  background-size: 550px;
}
@media screen and (max-width: 1040px) {
  .bg_block {
    background-size: 550px;
  }
}
@media screen and (max-width: 960px) {
  .bg_block {
    background-size: 450px;
  }
}
@media screen and (max-width: 900px) {
  .bg_block {
    background-image: url(../img/respons_bg.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.header {
  padding-top: 16px;
  padding-bottom: 14px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  max-width: 135px;
  width: 100%;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 64px;
  gap: 40px;
}

.nav__link {
  opacity: 0.6;
  color: #36536B;
  font-size: 15px;
  font-weight: 700;
}
.nav__link:hover {
  opacity: 1;
}
.nav__link:active {
  opacity: 1;
}
.nav__link:focus {
  opacity: 1;
}

.header__btn {
  color: #FBFCFE;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: -0.115px;
  background-color: #BA4270;
  padding: 16px 24.5px 14px 26.5px;
  border-radius: 24px;
  -webkit-box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
          box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  white-space: pre;
}
.header__btn:hover {
  color: #FBFCFE;
  background: #DA6D97;
}
.header__btn:disabled {
  background-color: #BA4270;
  border: transparent;
  outline: transparent;
}
.header__btn:active {
  border: transparent;
  outline: transparent;
}
.header__btn:focus {
  border: transparent;
}

.header__menu {
  display: none;
}
.header__menu::before {
  content: " ";
  width: 28px;
  height: 17px;
  display: block;
  background-image: url(../../img/menu.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (max-width: 665px) {
  .nav__list {
    display: none;
  }
  .header__btn {
    display: none;
  }
  .header__menu {
    display: block;
  }
}
.hero__container {
  padding-bottom: 151px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__content {
  max-width: 546px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero__title {
  color: #36536B;
  font-family: DM Serif Display;
  font-size: 72px;
  font-weight: 400;
  line-height: 72px; /* 100% */
  letter-spacing: -0.554px;
  margin-bottom: 37px;
}

.hero__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  max-width: 445px;
  border-radius: 24px;
  background: #FBFCFE;
  -webkit-box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
          box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
}

.hero__input {
  color: #36536B;
  width: 100%;
  background-color: transparent;
  border: transparent;
  outline: transparent;
  padding-left: 27px;
  padding-top: 14px;
  padding-bottom: 16px;
  border-radius: 24px;
}
.hero__input:active {
  background-color: transparent;
}
.hero__input:hover {
  background-color: transparent;
}

.hero__input [placeholder] {
  color: #36536B;
  font-size: 15px;
  font-weight: 700;
}

.hero__btn--positsion {
  vertical-align: middle;
}

.hero__btn {
  color: #FBFCFE;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: -0.115px;
  background-color: #BA4270;
  padding: 16px 24.5px 14px 26.5px;
  border-radius: 24px;
  -webkit-box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
          box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  white-space: pre;
}
.hero__btn:hover {
  color: #FBFCFE;
  background: #DA6D97;
}
.hero__btn:disabled {
  background-color: #BA4270;
  border: transparent;
  outline: transparent;
}
.hero__btn:active {
  border: transparent;
  outline: transparent;
}
.hero__btn:focus {
  border: transparent;
}

.hero__text {
  color: #6C8294;
  font-size: 15px;
  font-weight: 400;
}

.hero__link {
  color: #6C8294;
  font-size: 15px;
  font-weight: 700;
  text-decoration-line: underline;
}

.hero__img1 {
  max-width: 445px;
}

@media screen and (max-width: 992px) {
  .hero__title {
    font-size: 56px;
  }
}
@media screen and (max-width: 882px) {
  .hero__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .hero__img {
    margin-right: -50px;
  }
}
@media screen and (max-width: 606px) {
  .hero__img {
    margin-right: -30px;
  }
}
@media screen and (max-width: 400px) {
  .hero__title {
    color: #36536B;
    text-align: center;
    font-family: DM Serif Display;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px; /* 112.5% */
    letter-spacing: -0.246px;
  }
  .hero__img {
    margin-right: -30px;
  }
}
.about {
  background: #1B262F;
  padding: 100px 0;
  background-image: url(../../img/about_bg.png);
  background-position: left top;
  background-repeat: no-repeat;
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__content {
  max-width: 445px;
}

.about__title {
  color: #FBFCFE;
  font-family: DM Serif Display;
  font-size: 48px;
  font-weight: 400;
  line-height: 56px; /* 116.667% */
  letter-spacing: -0.369px;
  margin-bottom: 24px;
}

.about__text {
  opacity: 0.6;
  margin-bottom: 32px;
  color: #FBFCFE;
  font-size: 15px;
  font-weight: 400;
  line-height: 28px; /* 186.667% */
}

.about__link {
  color: #FBFCFE;
  text-align: center;
  font-family: Public Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.115px;
  padding: 16px 24.5px 14px 26.5px;
  border-radius: 24px;
  border: 1px solid #FBFCFE;
}
.about__link:hover {
  border: 1px solid #FBFCFE;
  background: #FFF;
  color: #000;
}
.about__link:active {
  border: transparent;
  outline: transparent;
}
.about__link:focus {
  border: transparent;
}

.about__list {
  max-width: 500px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  gap: 42px;
  row-gap: 15px;
}

.about__item {
  margin: auto;
}

.about__tesla {
  margin: auto;
}

.about__microsoft {
  margin: auto;
}

.about__hp {
  margin: auto;
}

.about__oracel {
  margin: auto;
}

.about__google {
  margin: auto;
}

.about__nvidia {
  margin: auto;
}

@media screen and (max-width: 1030px) {
  .about {
    background-image: url(../../img/respons_sbout.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .about__container {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .about__content {
    margin-top: 24px;
  }
  .about__title {
    margin-top: 24px;
  }
}
@media screen and (max-width: 1030px) {
  .about__list {
    max-width: 500px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr 1fr));
    gap: 42px;
    row-gap: 15px;
  }
}
@media screen and (max-width: 610px) {
  .about__list {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr 1fr));
    gap: 42px;
    row-gap: 25px;
  }
  .about__content {
    max-width: 327px;
  }
  .about__title {
    text-align: center;
    font-size: 32px;
  }
  .about__text {
    text-align: center;
    font-size: 15px;
  }
}
.implement__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bg_img {
  max-width: 445px;
}

.implement__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 284px;
  max-width: 445px;
}

.implement__title {
  margin-bottom: 24px;
  color: #36536B;
  font-family: DM Serif Display;
  font-size: 48px;
  font-weight: 400;
  line-height: 56px; /* 116.667% */
  letter-spacing: -0.369px;
}

.implement__text {
  color: #6C8294;
  font-size: 15px;
  font-weight: 400;
  line-height: 28px; /* 186.667% */
}

@media screen and (max-width: 910px) {
  .implement__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .bg_img--block {
    margin-right: -50px;
  }
}
@media screen and (max-width: 510px) {
  .imlement {
    padding: 80px 0;
  }
  .implement__title {
    font-size: 36px;
  }
  .bg_img--block {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
    max-width: 400px;
  }
}
.simple {
  padding: 180px 0;
  background-image: url(../../img/simple_bg.png);
  background-position: right center;
  background-repeat: no-repeat;
}

.simple__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.simple__content {
  max-width: 445px;
}

.simple__title {
  color: #36536B;
  font-family: DM Serif Display;
  font-size: 48px;
  font-weight: 400;
  line-height: 56px; /* 116.667% */
  letter-spacing: -0.369px;
  margin-bottom: 24px;
}

.simple__text {
  color: #6C8294;
  font-size: 15px;
  font-weight: 400;
  line-height: 28px; /* 186.667% */
}

.simple__img_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.simple__img_1 {
  max-width: 263px;
}

.simple__img_2 {
  max-width: 263px;
}

@media screen and (max-width: 970px) {
  .simple__img_block {
    margin-right: -50px;
  }
  .simple {
    padding: 50px 0;
    background-image: none;
  }
  .simple__container {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .simple__title {
    margin-top: 48px;
  }
}
@media screen and (max-width: 550px) {
  .simple__img_1 {
    max-width: 163px;
  }
  .simple__img_2 {
    max-width: 163px;
  }
  .simple__img_block {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
}
@media screen and (max-width: 400px) {
  .simple__img_1 {
    max-width: 148px;
  }
  .simple__img_2 {
    max-width: 148px;
  }
  .simple__title {
    font-size: 36px;
  }
}
.cards {
  padding: 146px 0 100px 0;
}

.cards__container {
  margin: auto;
}

.card__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  row-gap: 20px;
}

.card__item {
  margin-top: 10px;
  max-width: 350px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.card__title {
  margin-top: 32px;
  margin-bottom: 16px;
  color: #36536B;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px; /* 138.889% */
  letter-spacing: -0.138px;
}

.card__title--1::before {
  content: " ";
  width: 106px;
  height: 106px;
  display: block;
  background-image: url(../../img/card_1.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto;
}

.card__title--2::before {
  content: " ";
  width: 106px;
  height: 106px;
  display: block;
  background-image: url(../../img/card_2.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto;
}

.card__title--3::before {
  content: " ";
  width: 106px;
  height: 106px;
  display: block;
  background-image: url(../../img/card_3.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto;
}

.card__text {
  color: #6C8294;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px; /* 166.667% */
  letter-spacing: -0.115px;
}

@media screen and (max-width: 1110px) {
  .card__item {
    max-width: 223px;
  }
  .card__title--1::before {
    content: " ";
    width: 88px;
    height: 88px;
  }
  .card__title--2::before {
    content: " ";
    width: 88px;
    height: 88px;
  }
  .card__title--3::before {
    content: " ";
    width: 88px;
    height: 88px;
  }
}
@media screen and (max-width: 780px) {
  .card__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .card__item {
    max-width: 428px;
  }
  .services_text {
    width: 100%;
  }
}
.read {
  padding: 100px 0;
}

.read__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.read__title {
  max-width: 445px;
  color: #36536B;
  font-family: DM Serif Display;
  font-size: 48px;
  font-weight: 400;
  line-height: 56px; /* 116.667% */
  letter-spacing: -0.369px;
}

.read__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  max-width: 445px;
  border-radius: 24px;
  background: #FBFCFE;
  -webkit-box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
          box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
}

.read__input {
  color: #36536B;
  width: 100%;
  background-color: transparent;
  border: transparent;
  outline: transparent;
  padding-left: 27px;
  padding-top: 14px;
  padding-bottom: 16px;
  border-radius: 24px;
}
.read__input:active {
  background-color: transparent;
}
.read__input:hover {
  background-color: transparent;
}

.hero__input [placeholder] {
  color: #36536B;
  font-size: 15px;
  font-weight: 700;
}

.read__btn--positsion {
  vertical-align: middle;
}

.read__btn {
  color: #FBFCFE;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: -0.115px;
  background-color: #BA4270;
  padding: 16px 24.5px 14px 26.5px;
  border-radius: 24px;
  -webkit-box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
          box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  white-space: pre;
}
.read__btn:hover {
  color: #FBFCFE;
  background: #DA6D97;
}
.read__btn:disabled {
  background-color: #BA4270;
  border: transparent;
  outline: transparent;
}
.read__btn:active {
  border: transparent;
  outline: transparent;
}
.read__btn:focus {
  border: transparent;
}

@media screen and (max-width: 778px) {
  .read__container {
    gap: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (max-width: 630px) {
  .read__container {
    gap: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .read__form {
    -webkit-box-shadow: none;
            box-shadow: none;
    background-color: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .read__input {
    border-radius: 24px;
    background: #FBFCFE;
    -webkit-box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
            box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
    width: 327px;
  }
  .read__btn {
    margin-top: 16px;
    width: 327px;
    padding: 16px 24px 14px 26px;
    border-radius: 24px;
    background: #BA4270;
  }
}
.footer {
  background: #1B262F;
  padding: 31px 0;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__item_logo {
  max-width: 135px;
}

.footer__list {
  margin-left: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

.footer__link {
  color: #FBFCFE;
  font-family: Public Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  opacity: 0.6;
}
.footer__link:hover {
  opacity: 1;
}
.footer__link:active {
  opacity: 1;
}

.footer__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__soical {
  gap: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__icon {
  width: 24px;
}
.footer__icon:hover {
  fill: #DA6D97;
  -webkit-filter: drop-shadow(0px 1px 2px #000);
          filter: drop-shadow(0px 1px 2px #000);
  color: #DA6D97;
}

@media screen and (max-width: 610px) {
  .footer__block, .footer__link, .footer__container, .footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
    text-align: center;
    margin: auto;
  }
}/*# sourceMappingURL=main.css.map */