.footer {
    background: #1B262F;
    padding: 31px 0;
}
.footer__container{
         display: flex;
        justify-content: space-between;
        align-items: center;
}
.footer__item_logo{
    max-width: 135px;
}
.footer__list {
    margin-left: 64px;
         display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
}
.footer__link {
    color: #FBFCFE;
font-family: Public Sans;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: normal;
opacity: .6;
&:hover{
    opacity: 1;
}
&:active{
    opacity: 1;
}
}
.footer__block{
         display: flex;
        justify-content: space-between;
        align-items: center;
}
.footer__soical {
    gap: 20px;
         display: flex;
        justify-content: space-between;
        align-items: center;
}
.soical__item {
}
.soical__link {
}
.footer__icon {
    width: 24px;
    &:hover{
        fill:#DA6D97;
filter: drop-shadow(0px 1px 2px #000);
color: #DA6D97;
    }
}

@media screen and (max-width:610px) {

    .footer__block , .footer__link,.footer__container ,.footer__list{
         display: flex;
         flex-direction: column;
         gap: 40px;
         text-align: center;
         margin: auto;

}
}